<div class="mb-8">
	<h1 class="text-3xl text-black font-bold">Úvodní stránka</h1>
</div>
<div class="mb-8">
	<div class="mb-4">
		<h1 class="text-lg font-semibold">Notifikace</h1>
	</div>
	<div class="rounded-tl-lg rounded-tr-8xl rounded-br-lg rounded-bl-lg bg-gradient-to-br from-blue-400 to-indigo-700">
		<div class="h-full p-6">
			<div class="mb-1">
				<span class="text-sm text-white font-semibold">Výukové body</span>
			</div>
			<div class="mb-1">
				<h1 class="text-2xl text-white">Získal si dneska +10 bodů z Programování</h1>
			</div>
			<div class="flex">
				<div class="flex">
					<div class="flex h-4 mt-auto">
						<img src="/assets/media/icons/black/clock-2.png" alt="" class="filter-white h-full" />
						<span class="ml-1 text-xs text-white font-semibold">22.04.22 13:12</span>
					</div>
				</div>
				<div class="ml-auto">
					<a href="" class="grid w-11 h-11 rounded-full shadow-2xl bg-white">
						<div class="m-auto h-4">
							<img src="/assets/media/icons/black/right-arrow.png" alt="" class="h-full" />
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="">
	<div class="mb-4">
		<h1 class="text-lg font-semibold">Odkazy</h1>
	</div>
	<div class="grid grid-cols-2 gap-8 sm:grid-cols-3 md:grid-cols-4">
		<a href="/learning-points" class="grid h-44 rounded-lg shadow-xl bg-white">
			<div class="m-auto">
				<div class="h-20">
					<img src="/assets/media/icons/color/star.png" alt="" class="h-full ml-3" />
				</div>
				<div class="mt-2">
					<h1 class="text-center font-semibold">Výukové body</h1>
				</div>
			</div>
		</a>
		<a href="" class="grid h-44 rounded-lg shadow-xl bg-white">
			<div class="m-auto">
				<div class="h-20">
					<img src="/assets/media/icons/color/completed-task.png" alt="" class="h-full ml-3" />
				</div>
				<div class="mt-2">
					<h1 class="text-center font-semibold">Úkoly</h1>
				</div>
			</div>
		</a>
		<a href="" class="grid h-44 rounded-lg shadow-xl bg-white">
			<div class="m-auto">
				<div class="h-20">
					<img src="/assets/media/icons/color/test.png" alt="" class="h-full ml-3" />
				</div>
				<div class="mt-2">
					<h1 class="text-center font-semibold">Písemky</h1>
				</div>
			</div>
		</a>
		<a href="" class="grid h-44 rounded-lg shadow-xl bg-white">
			<div class="m-auto">
				<div class="h-20">
					<img src="/assets/media/icons/color/resources.png" alt="" class="h-full ml-3" />
				</div>
				<div class="mt-2">
					<h1 class="text-center font-semibold">Výukové zdroje</h1>
				</div>
			</div>
		</a>
	</div>
</div>
