<div class="px-3 py-10 sm:px-8">
	<div class="w-full h-full">
		<router-outlet></router-outlet>
	</div>
</div>
<div class="w-full h-14"></div>
<div class="fixed bottom-0 w-full h-14 rounded-t-3xl border-t-2 border-t-gray-200 bg-white">
	<div class="grid grid-cols-5 h-full px-4 py-1">
		<a href="/experience-points" class="w-12 h-12 m-auto p-2">
			<div class="">
				<img src="/assets/media/icons/color/star.png" alt="" class="h-full" />
			</div>
		</a>
		<a href="/tasks" class="w-12 h-12 m-auto p-2">
			<div class="">
				<img src="/assets/media/icons/color/completed-task.png" alt="" class="h-full" />
			</div>
		</a>
		<a href="/" class="w-12 h-12 m-auto p-2">
			<div class="">
				<img src="/assets/media/icons/color/house.png" alt="" class="h-full" />
			</div>
		</a>
		<a href="" class="w-12 h-12 m-auto p-2">
			<div class="">
				<img src="/assets/media/icons/color/test.png" alt="" class="h-full" />
			</div>
		</a>
		<a href="" class="w-12 h-12 m-auto p-2">
			<div class="">
				<img src="/assets/media/icons/color/resources.png" alt="" class="h-full" />
			</div>
		</a>
	</div>
</div>
