.circle-progress {
	width: 114px;
	height: 114px;
}

.circle-progress-bg {
	fill: none;
	stroke-width: 5px;
	stroke: #e7eaff;
}

.circle-progress-meter {
	fill: none;
	stroke-width: 10px;
	stroke-linecap: round;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
}

.circle-progress-meter {
	stroke-dasharray: 360;
	stroke-dashoffset: var(--value);
	stroke: #3261e0;
	animation: progress 1s ease-out;
}

@keyframes progress {
	from {
		stroke-dashoffset: 360;
	}
	to {
		stroke-dashoffset: var(--value);
	}
}
